header(class='header')
    div(class='header__logo-container')
        img(class='header__logo' src='../header/img/logo.png')
        img(class='header__toxin' src='../header/img/TOXIN.png')
    div(class='header__menu')
        p(class='header__about-us') О нас
        p(class='header__services') Услуги
        span(class="material-icons") &#xE5CF;
        p(class='header__vacancies') Вакансии
        p(class='header__news') Новости
        p(class='header__agreements') Соглашения
        span(class="material-icons") &#xE5CF;
    div(class='header__login-container')
        p(class='header__sign-in') Войти
        p(class='header__register') Зарегистрироваться