<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form Elements
        script(src='./form-elements-script.js')
    body
        div(class="inputs")
            p(class="inputs__text-1") text field
            p(class="inputs__text-01") default
            input(
                type='email'
                placeholder="Email"
                class="inputs__text-field_default"
            )
