@import "mixins";

.inputs__text-1 {
  @include text($width: 80px, $height: 15px, $left: 141px, $top: 130px);
}

.inputs__text-01 {
  @include text($width: 57px, $height: 15px, $left: 403.74px, $top: 130px);
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;

  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

.inputs__text-field_default {
  position: absolute;
  width: 320px;
  height: 44px;
  left: 141px;
  top: 163px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-display: swap;
  src: url(../../../fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  font-display: swap;
  src: url(../../../fonts/Montserrat-Bold.woff) format('woff');
}