<!DOCTYPE html>
    html(lang="en")
     head
         meta(charset="UTF-8")
         meta(name="viewport", content="width=device-width, initial-scale=1.0")
         meta(http-equiv="X-UA-Compatible", content="ie=edge")
         title Меню страниц
     body
         p Hello!
         a(href='../ui-kit/colors-and-type/colors-and-type.pug') Colors and Type
         h1 lol
         script(src='./main.js')