<!DOCTYPE html>
    html(lang="en")
     head
         meta(charset="UTF-8")
         meta(name="viewport", content="width=device-width, initial-scale=1.0")
         meta(http-equiv="X-UA-Compatible", content="ie=edge")
         title Меню страниц
     body
         //a(href='../ui-kit/colors-and-type/colors-and-type.pug') Colors and Type
         //a(href='../ui-kit/form-elements/form-elements.pug') Form Elements
         a(href='../Maket/landing-page/landing-page.pug') Landing Page
         script(src='./main.js')
