<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Colors and Type
        script(src='./colors-and-type-script.js')
    body
        div(class='colors')
            div(class='colors__rectangle-2')
            p(class='colors__rectangle-2-text') Dark Shade 100% #1F2041
            div(class='colors__rectangle-21')
            p(class='colors__rectangle-21-text') Dark Shade 75% #1F2041
            div(class='colors__rectangle-22')
            p(class='colors__rectangle-22-text') Dark Shade 50% #1F2041
            div(class='colors__rectangle-23')
            p(class='colors__rectangle-23-text') Dark Shade 25% #1F2041
            div(class='colors__rectangle-24')
            p(class='colors__rectangle-24-text') Dark Shade 5% #1F2041
            div(class='colors__rectangle-25')
            p(class='colors__rectangle-25-text') Purple #BC9CFF
            div(class='colors__rectangle-26')
            p(class='colors__rectangle-26-text') Green #6FCF97

        div(class='types')
            h1(class='types__h1') H1
            h1(class='types__widget-title') This one is the sub-section or widget title
            h2(class='types__h2') H2
            h2(class='types__title-inside-widget') Next one is the item title inside widgets
            h3(class='types__h3') H3
            h3(class='types__label') This is a label or CTA text
            p(class='types__body') BODY
            p(class='types__body-text') This is the body text which is used for most of the design, like paragraphs, lists, etc.
